body{
    margin: 0px;
    padding: 0px;
}
.div1 {
    background: #ee3e64;
    width: 200px;
    height: 200px;
    position: relative;

}
.div2 {
    background: #44accf;
    width: 200px;
    height: 200px;
    position: relative;
    left: 200px;
}
.div3 {
    background: #b7d84b;
    width: 200px;
    height: 200px;
    position: relative;

}